/* contact section */
.contact {
  min-height: 28rem;
  max-height: 35rem;
  position: relative;
  background-image: url(../../assets/contact_us.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.contact_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
}

.contact_text p {
  color: #fff;
  font-size: 3.2rem;
}
