.btn button {
  width: 150px;
  color: #fff;
  padding: 8px 0;
  font-size: 13px;
  transition: 0.5s;
  /* margin: 0 3px; */
  border-radius: 4px;
  background: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  color: #fff;
}

.btn.btn_lg button {
  width: 100%;
  font-size: 1.4rem;
  padding: 14px 0;
}

.btn button:hover {
  background-color: #025d8a;
  transform: translateY(2px);
}

.btn button:focus,
.btn button:active,
.btn.btn_lg button:focus,
.btn.btn_lg button:active {
  outline-color: var(--dark-blue);
}

.btn button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
