header {
  width: 100vw;
  height: 450px;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/banner.png"); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/images/headerImg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 3rem 1rem;
}

#homeBorder {
  background: rgb(196, 196, 196);
  height: 1px;
  margin: 0 6rem;
} 

.countDownSup {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  
  color: #FFFFFF;
  }

  .requestBody { color: #534F4F;}
  .countDown{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 70px;

color: #FFFFFF;
  }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

nav > svg {
  width: 25rem;
  justify-self: center;
}

.contact {
  display: inline-flex;
  justify-self: flex-end;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.contact div {
  margin: 0 1rem;
}

.contact svg {
  width: 15px;
}

.contact p {
  font-size: 12px;
}

.hero_text {
  margin: 5rem 0;
}

.hero_text h1 {
  font-size: 4rem;
}



main > h1,
main > p {
  text-align: center;
  font-family: Helvetica;
font-style: normal;
  /* padding: 4rem 2rem; */
}

.grid {
  padding: 3rem 6rem;
}

main .grid:first-of-type,
main .grid:nth-of-type(3) {
  background-color: #bde3f8;
}


main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25rem;
  gap: 2rem;
  align-items: center;
}

/* .grid aside p {
  width: 50%;
} */

.grid img {
  width: 100%;
  height: 100%;
}

.items > div p {
  display: inline;
  vertical-align: middle;
}

.items > div svg {
  height: 10px;
  vertical-align: middle;
}

footer {
  background-color: #fff;
}

footer img {
  width: 25rem;
}

@media screen and (min-width: 900px) {
.companyDetail{display: none}
}
@media screen and (max-width: 900px) {
 .companyDetail{display: inline-flex;
  padding-top: .5rem!important;
  justify-self: flex-end;}

  .countDownSup {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
    
    color: #FFFFFF;
    }
    .countDown{
      font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 70px;
  
  color: #FFFFFF;
    }
  .contact {
    display: none;
  }
  .hero_text h1 { font-size: 3rem; }

  .hero_text {
    margin: 2rem 0;
  }
}
