.bgInput {
    background: #FFF4F4;
}


.labeltextL {
    font-size: 1.1rem;
    vertical-align: middle;
    margin: 0;
  }

  .removeModalPad {
      padding: 0;
  } 

  
  *{font-family: Helvetica;
    font-style: normal;}

  .bgModal {
      background: url(/images/bgSupplierN.svg);
      min-height: 110px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .paddButton{ padding: 6px 20px;
    color: #161515;
    font-size: 1.3rem;
font-weight: bold;
}