.product_grid1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 58rem));
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.product_grid1 > p {
  font-size: 1.8rem;
  padding: 0 2rem;
  align-self: center;
}

.product_image {
  position: relative;
}

.product_image:hover {
  height: 100%;
}

.product_image p {
  position: absolute;
  top: 0px;
  right: -7%;
  padding: 1rem 2rem;
  background-color: var(--pale-blue);
}

.product_grid2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 58rem));
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.product_text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product_text p {
  font-size: 1.2rem;
}

.product_text2 {
  display: grid;
  gap: 2rem 1rem;
  justify-content: center;
  grid-template-columns: 0.8fr 1fr;
  margin: 5rem 0;
}

.product_text2 p {
  font-size: 1.2rem;
  display: inline;
}

.number {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin-right: .5rem;
  background-color: var(--dark-blue);
}

/* process section */
.process {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: center;
  gap: 5rem;
}

.process h2 {
  text-align: center;
}

.process_group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.process_group img {
  max-width: 5rem;
  max-height: 20rem;
}

.process_group p {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0;
}

.process_group h4 {
  font-size: 1.4rem;
  text-align: center;
}

/* order section */
.order {
  min-height: 28rem;
  max-height: 35rem;
  position: relative;
  background-image: url(../../assets/order.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.order_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
}

.order p {
  color: #fff;
  font-size: 3rem;
}

@media screen and (max-width: 800px) {
  .product_grid1 {
    grid-template-columns: minmax(20rem, 50rem);
    gap: 2rem;
  }

  .product_image {
    position: relative;
    order: 1;
  }

  .product_grid1 > p {
    padding: 0;
    order: 2;
  }

  .product_grid2 {
    grid-template-columns: minmax(20rem, 50rem);
    gap: 2rem;
  }

  .product_text {
    order: 2;
  }

  .product_text2 {
    order: 2;
  }

  .order_text {
    left: 0%;
    text-align: center;
    padding: 1rem;
  }

  .product_image p {
    position: absolute;
    right: 0;
    border-top-right-radius: 10px;
  }
  .product_image p {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 1rem 2rem;
    background-color: var(--pale-blue);
  }
}
