@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font: Helvetica, Poppins, sans-serif;
  --light-blue: #4eb8f0;
  --dark-blue: #0d6797;
  --light-grey: #525e59;
}

/* templates */
html,
body {
  font-family: var(--body-font);
  font-size: 10px;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  outline: none;
  scrollbar-width: none;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}
4
.slider {
  color: green;
}

section {
  padding: 4rem 0;
}

.opacity_effect img:hover {
  opacity: 0.7;
}

.container {
  width: 100%;
  max-width: 124.5rem;
  padding: 0 3rem;
  margin: 0 auto;
}

