@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import "./style/override.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --body-font: Helvetica, Poppins, sans-serif;
  --light-blue: #4eb8f0;
  --dark-blue: #0d6797;
  --pale-blue: #ebf8ff;
  --light-grey: #525e59;
}

/* templates */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  color: #000;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  outline: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.slider {
  color: green;
}

section {
  padding: 4rem 0;
}

.opacity_effect img:hover {
  opacity: 0.7;
}

.unavailable {
  opacity: 0.7;
}

.scale_effect > div {
  transition: all 0.3s ease-in;
}

.scale_effect > div:hover {
  transform: scale(1.02);
}

.container {
  width: 100%;
  max-width: 125.5rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.cursor {
  cursor: pointer;
}

.activeNav {
  font-weight: bolder;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 50%;
  }
}
