/* tab section */
.general_application {
  margin: 0 auto;
  width: 90%;
  padding: 2rem 0;
}

.general_application p:nth-child(2) {
  color: var(--dark-blue);
  font-weight: bold;
  cursor: pointer;
}
